[submodule "XpertAssist-client-service"]
	path = XpertAssist-client-service
	url = https://github.com/AmrasHameed/XpertAssist-Client-Service.git
[submodule "XpertAssist-User-Service"]
	path = XpertAssist-User-Service
	url = https://github.com/AmrasHameed/XpertAssist-User-Service.git
[submodule "XpertAssist-Expert-Service"]
	path = XpertAssist-Expert-Service
	url = https://github.com/AmrasHameed/XpertAssist-Expert-Service.git
[submodule "XpertAssist-Auth-Service"]
	path = XpertAssist-Auth-Service
	url = https://github.com/AmrasHameed/XpertAssist-Auth-Service.git
[submodule "XpertAssist-ServiceManagement"]
	path = XpertAssist-ServiceManagement
	url = https://github.com/AmrasHameed/XpertAssist-ServiceManagement.git
[submodule "XpertAssist-ApiGateway"]
	path = XpertAssist-ApiGateway
	url = https://github.com/AmrasHameed/XpertAssist-ApiGateway.git
[submodule "XpertAssist-DevOps"]
	path = XpertAssist-DevOps
	url = https://github.com/AmrasHameed/XpertAssist-DevOps.git
